.adminHome {
  height: 100%;
  width: 100%;
  background-color: #f0f2f5;
  display: flex;
  margin: 10px 0;
}
.adminHome__database {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f2f5;
}
.adminHome__left-section {
  height: 100%;
  width: 25%;
  padding: 10px 30px;
  margin-right: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin: 12px;
  padding: 30px 20px;
}
.activeButton {
  background-color: #d5edd5 !important;
  color: #58af6b !important;
}
.adminHome__left-section h6 {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  background: #ffffff;
  border-radius: 0 21px 21px 0;
  color: #676d69;
}
.adminHome__left-section h6:hover {
  background-color: #e5e5e6;
  color: rgb(138, 134, 134);
}

.adminHome__right-section {
  height: 100%;
  width: 70%;
  background-color: #ffffff;
}

.adminHome__left-section img {
  height: 81px;
  width: 211px;
  margin: 22px 0;
}
